html, body{
    --darkGrey: #222222;
    --midGrey: #858585;
    --lightGrey: #F5F5F5;
    --gold: #DEBF79;
    --red: #800000;

    background-color: var(--darkGrey);
    font-family: 'Poppins', sans-serifs;
    margin: auto;
    font-weight: 500;
}

#logo {
 width: 50%;
 height: auto;
 align-self: center;
}

.gridContainer {
    display: grid;
    grid-template:
        [row1-start] "header" [row1-end]
        [row2-start] "section" [row2-end]
        [row3-start] "footer" [row3-end]
        / auto;

}

.header {
    display: flex;
    justify-content: space-around;
    grid-area: header;
    height: 100px;
}

#contact {
    color: var(--gold);
    text-decoration: none;
    font-weight: 900;
    align-self: center;
}

.section{
    grid-area: section;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.heading {
    font-weight: 900;
    align-self: center;
    margin-top: 40px;
    font-size: 2.2em;
    margin-bottom: 15px;
    color: var(--darkGrey);
}

.talkie, .rabbit, .shield{
    background-color: white;
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    border-radius: 3px;
}

.talkie img{
    margin-top: 20px;
}

.rabbit img{
    margin-top: 35px;
}

.talkie img, .rabbit img, .shield img{
    align-self: center;
}

.talkie .learnMore{
    margin-bottom: 40px;
}

.rabbit .learnMore{
    margin-bottom: 32px;
}

.shield .heading{
    margin-bottom: 10px;
    margin-top: 25px;
}

.textSection{
    width: 291px;
    align-self: center;
}

.text{
    color: var(--midGrey);
    font-size: 14px;
    line-height: 1.7em;
}

.learnMore {
    border: none;
    color: white;
    background-color: var(--gold);
    align-self: center;
    margin-top: 22px;
    height: 45px;
    width: 130px;
    font-size: .9em;
}

.extraSpace{
    word-spacing: .15em;
}

.footer{
    width: 80%;
    Margin: auto;
    margin-top: 30px;
    color: white;
    margin-bottom: 30px;

}

.footerHeading{
    font-size: 3em;
    color: white;
    margin: auto;
    margin-bottom: 25px;
}

.footerHeading span{
   border-bottom: 4px solid var(--gold);
   width: 80%;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



.modalContent{
    display: grid;
    grid-template: [row1-start] "text close" 100%[row1-end] / auto auto;
    background-color: white;
    align-self: center;
    width: 95%;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

.modalText{
    grid-area: text;
    align-self: center;
}

#arraySpan {
    color: var(--gold);
}

#arraySpan:hover{
    color: var(--midGrey);
    cursor: pointer;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    grid-area: close;
    width: max-content;
    align-self: center;
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }